.app {
    display: grid;
    width: 665px;
    height: 1028px;
    grid-template-columns: 152px 1fr;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

}

.sidebar {
    background-color: #BDBDBD;

}